.buildings-container{
    position:relative;
    height:90vh;
    width:100%;
}
.buildings-header{
    height:30%;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.building-header{
    height:30%;
    width:100%;
    padding-bottom:1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}
.building-main-header{
    height:30%;
    width:100%;
    padding-bottom:10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.building-table{
    display: flex;
    justify-content: center;
    align-items: center;
    width:650px;
}
.building-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.building-main h3{
    margin-bottom: 10px;
}
.popup{
    display: grid;
    grid-template-rows: 70% 30%;
    height:250px;
    max-width: 390px;
}
.popup-message{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.popup-buttons{
    display: flex;
    width:100%;
}
.popup-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    font-size: 1.3rem;
    cursor: pointer;
}
.popup-button:nth-child(1){
    border-right: 0.1px solid rgba(0,0,0,0.2);
    color:#62d2a2;
}
.popup-button:nth-child(2){
    border-left: 0.1px solid rgba(0,0,0,0.2);
    color:#f56a79;
}
.message{
    height:250px;
    width: 250px;
    max-width: 390px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}