.reset-password-container{
    height:90vh;
}
.wave{
    position:fixed;
    z-index: -1;
    transform:translate(-5vw,-10vh);
    height:100%;
}
.App{
    background-color: transparent;
}
.reset-container{
    display: flex;
    width:100%;
    height:100%;
    justify-content: center;
    align-items: center;
}
.reset-password-message{
    margin:2rem;
}
.reset-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:40%;
    flex:1;
}
.reset-password-img{
    width:100%;
}
.input-container{
    width:60%;
    height:100%;
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reset-password-form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-input{
    height:30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.reset-password-btn{
    width:50%;
    height:3.5rem;
    border-radius:2rem;
    outline:none;
    border:none;
    font-size:1.2rem;
    cursor:pointer;
    background-color: #1fab89;
    color:#d7fbe8;
    margin-top: 3rem;
}